<template name="cropBox">
    <div class="modal fade" id="cropModal">
        <div class="modal-dialog"  style="width:100%">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">Avatar Crop</h4>
                </div>
                <div class="modal-body">
                    <table cellpadding="0" cellspacing="0" border="0">
                        <tbody><tr>
                            <td>
                                <div><img src='{{avatar_url}}' id='bigAvatar'  alt='Avatar' /></div>
                            </td>
                            <td>
                                <canvas id="preview"></canvas>
                            </td>
                        </tr>
                        </tbody></table>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary submitCrop">Save changes</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
</template>