<template name="todo">
        <div class="row" style="height: 100px">
            <div class="col-lg-3">
                <p>{{task}}</p>
            </div>
            <div class="col-lg-3">
                <p>{{time}}</p>
            </div>
            <div class="col-lg-1">
                <p>{{sender}}</p>
            </div>
            <div class="col-lg-4">
                <button class="btn btn-info btn-sm add_comment">Add Comment</button>
                {{#if anyComments comments }}
                    <button class="btn btn-primary btn-sm show_comments">Show Comment</button>
                {{/if}}
                {{#if owner userId }}
                    <button class="btn btn-warning btn-sm delete">Delete</button>
                {{/if}}
            </div>
        </div>
        {{#if anyComments comments }}
            <div class="row todo_comments{{_id}} hide">
                <h1 class="col-lg-12">Comments</h1>
                {{#each comments}}
                  {{> comment}}
                {{/each}}
            </div>
        {{/if}}
        <div class="row new_comment_box{{_id}} hide">
            <div class="col-lg-6">
                <input type="text" class="comment_text col-lg-12" placeholder="Your Comment"/>
            </div>
            <div class="col-lg-3">
                <button class="btn btn-success btn-sm save_comment">Save</button>
            </div>
        </div>
</template>