<template name="todo">

    <tr style="height: 100px">
        <td>{{task}}></td>
        <td>{{prettifyDate time}}</td>
        <td>{{sender}}</td>
        <td>
            <div class="btn-group btn-group-justified">

                    <a href='javascript:;' class="btn btn-primary btn-xs show_comments">Comments</a>

                {{#if owner userId }}
                    <a href='javascript:;' class="btn btn-warning btn-xs delete">Delete</a>
                {{/if}}
            </div>
        </td>
    </tr>
    <tr class="todo_comments{{_id}} hide">
        <td colspan="4">
            <button type="button" class="close" >×</button>
            {{#if anyComments comments }}
                {{#each comments}}
                    {{> comment}}
                {{/each}}
            {{/if}}
            <div class="form-group">
                <div class="input-group  col-lg-6">
                    <input type="text" class="comment_text form-control" placeholder="Your Comment"/>
                    <span class="input-group-btn">
                         <button type="button" class="btn btn-success save_comment">Save</button>
                    </span>
                </div>
            </div>


        </td>
    </tr>
</template>